<ion-navbar *navbar>
  <ion-title>
    Login
  </ion-title>
</ion-navbar>

<ion-content #content>
  <form (submit)="login($event)" *ngIf="!user" [ngFormModel]="loginForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" ngControl="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" ngControl="pwd"></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button type="submit" block>LogIn</button>
    </div>
  </form>

  <div *ngIf="user" padding>
    <button type="button" block (click)="logout()">LogOut</button>
  </div>
</ion-content>
